/*----------------------------------------*/
/*  Custom CSS
/*----------------------------------------*/
/*google fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

body{
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  line-height: 25px;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #404044;
}
ul{
  margin: 0;
  padding:0;
  list-style: none;
}
button:focus{
  outline: 0;
}
.btn{
  border:1px solid #505cdf;
  padding:10px 40px;
  color: #595959;
  border-radius: 30px;
  font-weight: 600;
  font-size: 14px;
  font-family: poppins;
}
.theme-bg{
  background: #505cdf;
}
.black-bg{
  background: #343434;
}
.mb-60{
  margin-bottom: 60px;
}
.mb-30{
  margin-bottom: 30px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-40{
  padding-bottom: 40px;
}
.pb-50{
  padding-bottom: 50px;
}
.pb-60{
  padding-bottom: 60px;
}
.pb-70{
  padding-bottom: 60px;
}
.pb-90{
  padding-bottom: 90px;
}
.pb-100{
  padding-bottom: 100px;
}
.pt-60{
  padding-top: 60px;
}
.pt-70{
  padding-top: 70px;
}
.pt-90{
  padding-top: 90px;
}
.pt-100{
  padding-top: 100px;
}

.br-15{
  border-radius: 15px;
}
/*header area*/
header{
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  z-index: 9;
}
.header-area{
  padding:0 40px;
}
.logo{}
.logo a{}
.logo img{}
.main-menu{}
.main-menu ul{
  margin-right: 10px;
}
.main-menu ul li{
  display: inline-block;
  margin-left: 40px;
}
.hire-btn{
  margin:20px 0 35px 0;
}
.hire-btn a{
 border:1px solid #505cdf;
 display: inline-block;
 border-radius: 30px;
 padding:15px 55px;
}
.main-menu ul li a{
  display: inline-block;
  line-height: 1;
  padding:44px 0;
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  font-family: 'Poppins', sans-serif;
}
/*slider*/
.slider-area{
  margin-bottom: 20px;
}
.single-slider{
  height: 100vh;
}
.slider-icon a{
  color: #505cdf;
  font-size: 18px;
  margin:0 15px;
}
.slider-inner h2{
  margin-bottom: 15px;
  font-size: 72px;
  font-weight: 600;
  color: #595959;
}
.slider-inner p{
  font-size: 15px;
  color: #343434;
  margin-bottom: 50px;
}
/*feature seciton*/
.features-area{
  margin-top: -110px;
  position: relative;
  z-index: 1;
}
.single-features{
  padding: 60px 15px;
}
.single-features i{
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
  display: block;
}
.single-features h3{
  font-size: 22px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}
.single-features p{
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  margin:0;
}
/*abput area*/
.about-text h3{
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 10px;
}
.about-text h3:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 60px;
    background: #505CFD;
    bottom: 0;
}
.about-text p{
  font-size: 15px;
  margin-bottom: 50px;
}
/*subscribe area*/
.area-title h3{
  margin-bottom:20px;
  font-size: 32px;
}
.area-title p{
  margin-bottom:0px;
}
.subscribe-form{}
.subscribe-form form{}
.subscribe-form input{
  width: 25%;
  height: 45px;
  border:0;
  background: #fff;
  padding:0 20px;
  margin-right: 10px;
  border-radius: 30px;  
}
.subscribe-form button{
  color: #fff;
  font-weight: 600;
  margin-left: 30px;
}

/*service section*/
.service-wrapper{
  border:1px solid #ddd;
  padding:50px 30px;
}
.service-wrapper:hover{
  background: #222;
  border:#222;
  transition: .3s;
}
.service-wrapper:hover h3{
  color: #fff;
}
.service-wrapper:hover p{
  color: #777;
}
.service-wrapper:hover .btn{
  color: #fff;
}
.service-wrapper i{
  font-size: 48px;
  color: #505cdf;
  margin-bottom: 50px;
  display: inline-block;
}
.service-wrapper h3{
  font-size: 22px;
  margin-bottom: 25px;
}
.service-wrapper p{
  margin-bottom: 60px;
}
/*pricing area*/
.pricing-area{
  background: #e7e8fe;
}
.pricing-wrapper{
  transition: .3s;
  border:1px solid #cfd1fc;
}
.pricing-wrapper a.btn{}
.pricing-wrapper:hover{
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(80, 92, 253, 0.1);
}
.pricing-item{
  width: 28%;
}
.pricing-wrapper h3{
  font-size: 22px;
  padding:40px 0;
  margin:0;
  border-bottom:1px solid #cfd1fc;
}
.pricing-wrapper span{
  font-size: 40px;
  font-weight: 600;
  color: #505cdf;
  margin-top: 21px;
  display: inline-block;
  line-height: 1;
}
.pricing-wrapper span span{
  font-size: 20px;
  font-weight: normal;
  position: relative;
  top:-11px;
}
.pricing-wrapper ul{
  margin:40px 0;
}
.pricing-wrapper ul li{
  color: #595959;
  line-height: 36px;
}
/*counter*/
.counter-area{}
.counter-wrapper{}
.counter-wrapper i{
  display: block;
  margin-bottom: 30px;
  font-size: 30px;
  color: #fff;
}
.counter-wrapper span{
  color: #fff;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  display: block;
}
.counter-wrapper p{
  margin:0;
  color: #fff;
}
/*team section*/
.team-wrapper{
  position: relative;
}
.team-img::before {
    position: absolute;
    background: #fff;
    content: "";
    opacity: 0;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}
.team-wrapper:hover .team-img::before{
  opacity: .5;
  visibility: visible;
}
.team-img img{
  width:100%;
  /*filter: grayscale(100%);
  transition: .3s;*/
}
/*.team-wrapper:hover .team-img img{
  filter: grayscale(0);
}*/
.team-info{
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform:translateY(-50%);
  transition: .3s;
}
.team-wrapper:hover .team-info{
  opacity: 1;
  visibility: visible;
}
.team-info h3{
  font-size: 22px;
  margin-bottom: 4px;
}
.team-icon{
  margin-top: 6px;
}
.team-icon a{
  color: #444;
  margin:0 5px;
}
/*blog*/
.blog-thumb a{
  position: relative;
  display: block;
}
/*.blog-thumb a::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
background: #dd3e54;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6be585, #dd3e54);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6be585, #dd3e54); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
opacity: .2;
  top: 0;
  left: 0;
}*/
.blog-content{
  margin-top: 15px;
}
.blog-content h3 a{
  color: #444;
  font-size: 22px;
  text-decoration: none;
}
.blog-content p{
  margin-bottom: 30px;
}
.blog-meta{
  margin-bottom: 14px;
}
span.metaline {
    display: inline-block;
    height: 2px;
    width: 30px;
    background: #444;
    position: relative;
    top: -2px;
    margin-left: 10px;
}
/*testimonial*/
.testimonial-item{
  background: rgba(255,255,255,.9);
  padding:60px 123px;
}
.testimonial-item p{

}
.testimonial-name{
  margin-bottom: 15px;
}
.testimonial-name h4{
  font-size: 22px;
  color: #505cdf;
}
.testimonial-active .slick-dots{
  margin-top: -40px;
  position: relative;
  z-index: 9;
}
.testimonial-active .slick-dots li{
  display: inline-block;
}
.testimonial-active .slick-dots li button{
  /*text-indent: -9999px*/
  font-size: 0;
  height: 10px;
  width: 10px;
  border:2px solid #444;
  border-radius: 50%;
  padding:0;
  margin:0 5px;
  background: #fff;
}
.testimonial-active .slick-dots li.slick-active button{
  background: #444;
}
/*footer section*/
.footer-widget{}
.footer-widget h3{
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
}
.contact-list{
  margin-bottom: 20px;
}
.contact-list li{
  line-height: 36px;
  color: #fff;
}
.footer-icon a{
  color: #fff;
  margin-right: 10px;
}
.footer-link{}
.footer-link li{
  float: left;
  width: 50%;
}
.footer-link li a{
  color: #fff;
  line-height: 36px;
  text-decoration: none;
}
.footer-link li a::before {
    content: "\f105";
    font-weight: 900;
    margin-right: 5px;
    font-family: 'Font Awesome 5 Free';
}
.footer-blog li{
  margin-bottom: 20px;
}
.footer-blog li:last-child{
  margin-bottom: 0px;
}
.news-thumb{
  float: left;
}
.news-title{
  overflow: hidden;
  padding-left: 15px;
}
.news-title h4{
  line-height: 1;
  margin:0;
}
.news-title h4 a{
  color: #777;
  font-size: 17px;
  line-height: 30px;
}
.news-title span{
  color: #777; 
}
/*copyright area*/
.copyright-text p{
  color: #777;
  margin:0;
}
.footer-menu ul li{
  display: inline-block;
  margin-left: 15px;
}
.footer-menu ul li a{
  color: #777;
}
.copyright-border{
  border-top:1px solid #777;
  padding:30px 0;
}
/*scroll to up*/
#scrollUp {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 20px;
  bottom: 20px;
  background: red;
  color: #fff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
/*sticky menu js*/
.header-area.sticky-menu.scroll-header {
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}